{% load static %}

<html>

    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap"
        rel="stylesheet"> 
    </head>

    <body>
        <header>
            <h1><a href="/">Django blog</a></h1>
        </header>    
        <div class="container">
            {% block content %}
            {% endblock content%}
        </div>
    </body>
</html>